

{% extends "ProyectoWebApp/base.html" %}
{% load static  %}

{% block content %} {%comment %} Abrimos el block a heredar {%endcomment%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>

    
    <h1 style='color: white;'>---------------</h1>
    <h1 style='color:white;'>Contenidoo medio</h1>
    <h1 style='color: white;'>---------------</h1>

    
</body>
</html>







{% endblock %} {%comment %} Cerramos el block a heredar {%endcomment%}
